DATABASE_URL="file:./prisma/dev.db"
DATABASE_AUTH_TOKEN=""

# Turso/Vercel Deployment:
# DATABASE_URL="libsql://DEINE-DATENBANK.turso.io"
# DATABASE_AUTH_TOKEN="dein-turso-auth-token"
#
# Keine Secrets mit NEXT_PUBLIC_ prefixen, weil diese im Browser sichtbar sind.
